[submodule "vim/bundle/CSApprox"]
	path = vim/bundle/CSApprox
	url = https://github.com/vim-scripts/CSApprox.git
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/viki"]
	path = vim/bundle/viki
	url = https://github.com/tomtom/viki_vim.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
