Host home
	Hostname kirt.no-ip.org
	User kfrance
	Port 22

Host svw
	Hostname svw.no-ip.org
	User svw
	Port 2200

Host kirt-work
	Hostname 10.10.10.10
	User kfrance
	Port 22

Host beau.hopto.org
	Hostname beau.hopto.org
	User kfrance
	Port 22

Host beau-work
	Hostname beau-work
	User kfrance
	Port 22

Host curtis-work
	Hostname curtis-work
	User kfrance
	Port 22

Host website
	Hostname 107.170.229.68
	User kirt
	Port 22

Host repo-manager
	Hostname 54.148.225.127
	User root
	IdentityFile "~/.ssh/hub.pem"

Host hub
	Hostname 10.10.10.2
	User svw
	Port 2200
