Host home
	Hostname kirt.no-ip.org
	User kfrance
	Port 22

Host hub
	Hostname svw.no-ip.org
	User svw
	Port 2200

Host work
	Hostname 10.10.10.10
	User kfrance
	Port 22

Host beau.hopto.org
	Hostname beau.hopto.org
	User kfrance
	Port 22

Host beau
	Hostname beau-work
	User kfrance
	Port 22

Host curtis
	Hostname curtis-work
	User kfrance
	Port 22

Host website
	Hostname 107.170.229.68
	User kirt
	Port 22
